<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
  </configSections>

  <log4net debug="true">

    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <threshold value="Error" />
      <param name="File" value="log/error.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="CountDirection" value="1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %level %logger - %message %newline" />
      </layout>
    </appender>

    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <threshold value="Info" />
      <param name="File" value="log/info.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="CountDirection" value="1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %level %logger - %message %newline" />
      </layout>
    </appender>
    
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <threshold value="Debug" />
      <param name="File" value="log/debug.txt" />
      <param name="AppendToFile" value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="CountDirection" value="1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %level %logger - %message %newline" />
      </layout>
    </appender>
    
    <root>
      <level value="ERROR" />
      <appender-ref ref="errorAppender" />
    </root>   
  </log4net>

</configuration>
